.header{
    position: fixed;
    background-color: #212529;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1000;


}
.headerContainer{

    justify-content: flex-end;
    padding: 0 5%;



}
@media (max-width: 576px) {

    .contactContainer{
        justify-content: center;
        margin-top: 0;




    }

}