.Contact{
    height: 800px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;


}
.contactContainer{
    justify-content: space-evenly;
    margin: 25px 0;
    flex-direction: column;



}
.contactContainer *{
    border: 1px solid;
}
.form{

}
@media (max-width: 576px) {

    .contactContainer{
        justify-content: center;
        margin-top: 0;




    }

}