.HireMe{
    height: 200px;
    background-color: #86ffa8;
    display: flex;
    justify-content: center;


}
.hireMeContainer{
    justify-content: space-around;
    margin: 25px 0;
    flex-direction: column;
    align-items: center;



}
@media (max-width: 576px) {

    .contactContainer{
        justify-content: center;
        margin-top: 0;




    }

}