
.title{
    /*border: 1px solid;*/
    text-align: center;
}

.title h2{
    font-family: 'Rubik', sans-serif;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    font-size: 44px;
    position: relative;
    display: inline-block;
    padding: 5px 10px;
}

.title h2::after, .title h2::before{
    width: 25px;
    height: 25px;
    content: "";
    position: absolute;

}


.title h2::after{
    bottom: -2px;
    right: -10px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;

}

.title h2::before{
    top:-3px;
    left:-10px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;


}

