.main{

    background-color: #ffadfa;
    display: flex;
    justify-content: center;

}
.mainContainer{
    margin:100px 0;

    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.mainContainer *{
    border: 1px solid;

}

.photo{
    margin: 25px 0;
    width: 350px;
    height: 450px;
    background-color: #edffd8;
}

.welkomeBlock{
    margin: 25px 0;
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: space-around;
}