.myWork{
    display: flex;
    flex-direction: column;

    border: 1px solid ;



    width: 450px;
    height: 600px;

}

.preview{
    border: 1px solid ;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center;



}
.preview:before{
    position: absolute;
    content: "";
    background-color: black;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    opacity: 0.5;
}

.container{
    padding: 15px;
    border: 1px solid ;


    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    margin: 30px;
}
.title{
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    padding: 5px 0 15px;
}

.description{
    border: 1px solid ;
}



.btn{
   padding: 10px 20px;
    border-radius: 3px;
    background-color: #ffadfa;
    transition: 1s;
    z-index: 10;


}

.zakrivashka{
    position: absolute;
    background-color: #809dff;
    width: 450px;
    height: 600px;
    opacity: 0.8;
    transition: 1s;
}

@media (max-width: 576px) {

    .myWork{

        width: 350px;
        height: 800px;

    }

}


