.container{
    display: flex;

    width: 1440px;
}
h1,h2,h3,h4,h5{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;

}

body,a{
    font-family:'Mina', sans-serif;
    text-decoration: none;
    color: black;
}