.footer{
    height: 800px;
    background-color: aqua;
    display: flex;
    justify-content: center;


}
.contactContainer{
    justify-content: flex-end;
    margin: 25px 0;



}
@media (max-width: 576px) {

    .contactContainer{
        justify-content: center;
        margin-top: 0;




    }

}